@charset "UTF-8";

/* CONFIGURAÇÕES GERAIS */
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}
/* CONFIGURAÇÕES CORPO */
body {
    background: url('../imagens/fundo-madeira.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
}
main {
    height: 100vh;
    position: relative;
}
/* CONFIGURAÇÃO DO CELULAR */
section#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 627px;
    width: 310px;
    background: url('../imagens/frame-iphone.png') no-repeat;
}

iframe#tela {
    position: relative;
    top: 80px;
    left: 22px;
    width: 269px;
    height: 471px;
}

section#redes-sociais {
    text-align: right;
}

section#redes-sociais img {
    width: 50px;
    margin: 20px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.514);
    box-sizing: border-box; /* a borda vai fazer parte da caixa */
}

section#redes-sociais img:hover{
    border: 2px solid rgba(255, 255, 255, 0.616);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.637);
    transition: transform .5s, border 1s;
}